<div class="container">
  <div class="col-md-12">
    <h1>Everyone Has a Secret</h1>
  </div>
  <div class="col-md-12 divider">
    <hr>
    <!-- blank div to create white space between title and data rendered below -->
  </div>

    <% @secrets.each do |secret| %>

      <div class="col-md-12">

        <p><span class="secretinfo">Nickname:</span> <br />
          <%= secret.nickname %></p>
        <p><span class="secretinfo">Their secret:</span> <br />
          <%= secret.secret %></p>
        <p><span class="secretinfo">Where they live:</span> <br />
          <%= secret.country %></p>

      </div>

    <% end %>

</div>
