<div class="container">
  <div class="col-md-12">
    <h1>What's your secret?</h1>
    <p>Post anonymously from anywhere in the world</p>
    <br />
    <br />
    <form action="/secrets" method="post">
      <%= token_tag form_authenticity_token %>
      <div class="form-group">
        <input type="text" name="secret[nickname]" placeholder="Nickname" class="form-control" autofocus>
      </div>
      <div class="form-group">
        <input type="text" name="secret[secret]" placeholder="What's your secret?" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="secret[country]" placeholder="Where do you live?" class="form-control">
      </div>
      <input type="submit" value="Spill your secret!" class="btn btn-default">
    </form>
  </div> <!-- .col-md-12 -->
</div>
